/*************************************************************** Layout og Grids  ***********************************************/

/************************ Desktop version  *************************/

@media (min-width: 850px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
  }
  .order {
    order: 1;
  }

  .desktoponly {
    display: block;
  }
  /* margins */
  .h1desktop {
    margin-top: 3rem;
  }
  .h1AB {
    margin-bottom: 3rem;
  }

  .passion {
    margin-bottom: 4rem;
  }
  .virksomhed {
    margin-bottom: 4rem;
    margin-top: 10rem;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .h2margin {
    margin-left: 2rem;
  }

  .h2AB {
    margin-left: 2rem;
    margin-top: 0rem;
  }
  p {
    margin-bottom: 2rem;
    margin-right: 1.5rem;
  }
  .pmargindesktop {
    margin-left: 2rem;
  }

  .pmargindesktop2 {
    margin-bottom: 4rem;
  }

  .ramme {
    margin-left: 2rem;
  }
  .ramme3 {
    margin-left: 0.5rem;
  }
  .form-row {
    margin-left: 1.5rem;
    margin-right: 2rem;
  }
}

/***************************** Mobile version  ************************/
@media (max-width: 850px) {
  .mobileonly {
    display: block;
  }
  .svg1 {
    width: 0%;
    height: 0%;
  }
  .ramme {
    border: 5px solid #5362ae;
  }
  .ramme2 {
    border: 5px solid #5362ae;
    width: 100%;
  }
  .amandabechimg {
    width: 100%;
  }

  .form-row {
    margin-left: 1rem;
    margin-right: 2rem;
  }

  button {
    width: 25%;
    height: 25%;
    font-size: 20px;
    border: 10px solid #f34e4c;
  }

  .button {
    font-size: 20px;
    border: 10px solid #f34e4c;
  }

  /* skriftstørrelser og margins */
  h1 {
    font-size: 33px;
    margin-top: 3rem;
  }
  .h1mobile {
    margin-bottom: 2rem;
  }
  .passion {
    font-size: 28px;
    margin-bottom: 2rem;
  }

  .virksomhed {
    font-size: 28px;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 22px;
  }
  .h2AB {
    margin-top: 2rem;
  }
  p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    font-size: 14px;
  }
  .pmarginmobile {
    margin-bottom: 4rem;
  }
  .pmarginmobile2 {
    margin-bottom: 1rem;
  }

  .textfooter {
    font-size: 15px;
  }
}

/**************************** Tablet version ***************************/
@media (max-width: 1300px) {
  .linjer {
    margin-top: 1rem;
  }
}
@media (min-width: 700px) and (max-width: 1040px) {
  button {
    width: 25%;
    height: 25%;
    font-size: 18px;
    border: 10px solid #f34e4c;
  }
  /* skriftstørrerelsen */
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }
  .passion {
    font-size: 45px;
    margin-bottom: 2rem;
  }

  .virksomhed {
    font-size: 45px;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .ptablet {
    font-size: 13px;
  }
  p {
    font-size: 15px;
  }
}
