/*************************************Reset*******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  align-self: stretch;
  object-fit: cover;
}

/********************************************* Forside  **********************************/
.forsidebaggrund {
  background-image: url(imgs/forsidebaggrund.webp);
  top: 0;
  left: 0;
  background-color: #fffeef;
  background-repeat: no-repeat;
  aspect-ratio: 1512/982;
  background-size: contain;
  z-index: 1000;
}

.forsideskrift {
  margin-left: 1.8%;
  font-size: 5vw;
  margin-top: 12%;
  color: white;
}

.forsideskrift {
  animation-name: forsideskrift_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes forsideskrift_kf {
  10% {
    scale: 1;
  }
  30% {
    scale: 1.05;
  }
  50% {
    scale: 1.1;
  }
  70% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

/********************************** Ramme om billeder  ***************************/
.ramme {
  width: 100%;
  border: 32px solid #5362ae;
  border-radius: 10px;
}
.ramme2 {
  width: 95%;
  border: 32px solid #5362ae;
  border-radius: 10px;
}
/* amandabechside */
.ramme3 {
  width: 100%;
  border: 5px solid #5362ae;
  border-radius: 10px;
  background-color: #fffeef;
}
.amandabechimg {
  border-radius: 5px;
  width: 98%;
}

/************************************ Overskrifter og tekst ***********************/

h1 {
  text-align: center;
  font-size: 79px;
  font-family: "Staatliches", serif;
  font-weight: 400;
  font-style: normal;
}

.passion {
  font-size: 70px;
}
.virksomhed {
  font-size: 70px;
}

h2 {
  font-family: "Roboto Flex", serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7rem;
}

.center {
  text-align: center;
}

/*********************** KONTAKTFORMULAR **********************/
.contact-container p {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #405572;
}
.contact-container {
  padding: 20px 30px;
  justify-content: center;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  display: flex;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #5362ae;
  border-radius: 25px;
  background-color: #fffeef;
  font-size: 14px;
  font-family: "Roboto Flex", serif;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  background-color: #f34e4c;
  width: 25%;
  height: 25%;
  font-family: "Baumans", serif;
  border-radius: 50px;
  font-size: 23px;
  border: 15px solid #f34e4c;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
}

/************** Besøg website knap og a tag til figma *****************/

.button {
  background-color: #f34e4c;
  width: 100%;
  height: 100%;
  font-family: "Baumans", serif;
  border-radius: 50px;
  font-size: 25px;
  border: 15px solid #f34e4c;
  text-decoration: none;
  color: white;
}
.figma {
  color: #f34e4c;
  font-weight: 700;
}

/******************* SVG bølge lavet med ChatGPT  *******************/
.desktoponly,
.mobileonly {
  display: none;
}
.linjer {
  margin-top: 6rem;
}

/******************************** Footer  ******************************/
footer {
  background-color: #fffeef;
}

.grid3_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.textfooter {
  font-size: 20px;
}
.textfooter2 {
  font-size: 20px;
  padding-bottom: 2rem;
}
.footerline {
  border-right: 2px solid #5362ae;
  margin-bottom: 2rem;
}

/* ikoner */
.grid_1-1-1 {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid_1-1-1 img {
  width: 50%;
}
.insta {
  margin-left: 1rem;
}

/* mobil version footer */
@media (max-width: 850px) {
  .textfooter {
    font-size: 16px;
  }
  .textfooter2 {
    font-size: 16px;
  }
}
