/***********Reset**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  align-self: stretch;
  object-fit: cover;
}

/******************* Menu *********************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffeef;
  z-index: 10;
}

.logo {
  width: 7%;
  margin: 0.5rem;
  margin-left: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fffeef;
  font-weight: 400;
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  margin-right: 50px;
}

.menu li {
  margin-right: 20px;
  background-color: #fffeef;
  border-width: 5cm;
  float: left;
}
.menu li:hover {
  color: #5362ae;
  background-color: #fffeef;
  transition: all 0.3s ease;
}
.activ {
  color: #5362ae;
  text-decoration: underline;
}
.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 30px;
  color: black;
  text-decoration: none;
  transition: color 0.3s, text-decoration-thickness 0.3s ease;
  text-decoration-thickness: 0;
}

.menu a:hover {
  color: #5362ae;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #5362ae;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/*********** Burgermenu *************/

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 0.5rem;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #fffeef;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    margin-top: 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 1000px;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 16px;
    text-align: center;
  }
}

/************** Forside  *********/
.forsidebaggrund {
  background-image: url(imgs/forsidebaggrund.webp);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffeef;
  background-repeat: no-repeat;
  aspect-ratio: 1512/982;
  background-size: cover;
  z-index: 1000;
}

.forsideskrift {
  margin-left: 3.5%;
  font-size: 5vw;
  margin-top: 13%;
  color: white;
}

/********** Amanda Bech side  *********/

.amandabechimgs {
  align-self: stretch;
  object-fit: cover;
}

/*********** 0.5 *********/

.h205 {
  font-size: 65px;
}

/********* overskrifter og tekst **********/

h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Staatliches", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Roboto Flex", serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7rem;
}

/************* KONTAKTFORMULAR *************/
.contact-container p {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #405572;
}
.contact-container {
  padding: 20px 30px;
  justify-content: center;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  display: flex;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #5362ae;
  border-radius: 25px;
  background-color: #fffeef;
  font-size: 14px;
  font-family: "Roboto Flex", serif;
}

textarea {
  resize: none;
  height: 80px;
  width: 96.5%;
}

button {
  background-color: #f34e4c;
  width: 100px;
  height: 40px;
  font-family: "Baumans", serif;
  border-radius: 25px;
  font-size: 18px;
  border: 3px solid #f34e4c;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.button {
  background-color: #f34e4c;
  width: 100px;
  height: 40px;
  font-family: "Baumans", serif;
  border-radius: 25px;
  font-size: 18px;
  border: 3px solid #f34e4c;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.tema02 {
  background-image: url(imgs/mac.png);
}

/********* Layout grids  *********/
@media (min-width: 850px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .order {
    order: 1;
  }
}

@media (min-width: 800px) {
}
